<div class="container">
    <span>Fale conosco</span>
    <div class="jumbotoron">
        <h3>Queremos ouvir o que vocẽ tem a dizer</h3>
        <p>Se você tiver alguma dúvida ou sugestão fale conosco</p>
        <p>
            <span>Envelope-icon</span>
        <h5>
            <email endereco="email@email.com" conteudo="Enviar um e-mail"></email>
        </h5>
        <br />
        <span>phone-app-icon</span>
        <h5>99999-9999</h5>
        <br />
        <span>home-incored</span>
        <h5>Av. Endereço template 1000 - 00000-000</h5>
        </p>
    </div>
</div>    using LanchoneteMVC.TagHelpers;
