@using System.Globalization
@model LancheListViewModel
@{
    ViewData["Title"] = "Lista de Lanches";
}

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LanchesResume" for="@lanche"/>
        }
    </div>
</div>